:host{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.sw-container{
    background-image: linear-gradient(to right, #6288df, #7774ed);
padding: 15px 20px;
border-radius: 10px;
color: #FFF;
text-align: center;
width: 300px;
box-shadow: 0 3px 6px rgba(129,129,129,0.16),
0 3px rgba(105,105,105,0.23);
}

.stopwatch{
    font-style: 35px;
    margin-bottom: 15px;
}

.button-container{
    button{
        background: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        color: #6288df;
    }
}